<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\Checkout\Model\Magewire\Payment\PlaceOrderServiceProvider">
        <arguments>
            <argument name="placeOrderServiceList" xsi:type="array">
                <item name="billink_midpage" xsi:type="object">Billink\BillinkHyva\Model\Payment\PlaceOrderService\MidpageOrderService</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Model\Quote\Payment">
        <plugin name="billink_trigger_data_update_after_payment_set" type="Billink\BillinkHyva\Plugin\Quote\PaymentPlugin" />
    </type>
</config>
